<form onsubmit="addComment();return false;">
  <div class="my-3">
    <label for="title" class="form-label">
      Добавьте комментарий
    </label>
    <div id="result"></div>
    <textarea class="form-control" name="text" rows="3" id="comment"></textarea>   
  </div>

  <div class="mb-3 d-grid d-md-flex justify-content-md-end">
    <button type="submit" class="btn btn-primary btn-block" id="submit">
      Отправить
    </button>
  </div>
</form>


